<div class="form">
<%= form_for(:user, remote: true, :url => {:action => 'create'}) do |f| %>

    <table>
      <tr>
        <th><%= f.label(:mobile_number) %></th>
        <td><%= f.text_field(:mobile_number) %> <%= errors_for @user, :mobile_number %></td>
      </tr>
      <tr>
        <th><%= f.label(:first_name) %></th>
        <td><%= f.text_field(:first_name) %><%= errors_for @user, :first_name %></td>
      </tr>
      <tr>
        <th><%= f.label(:last_name) %></th>
        <td><%= f.text_field(:last_name) %><%= errors_for @user, :last_name %></td>
      </tr>
      <tr>
        <th><%= f.label(:email) %></th>
        <td><%= f.text_field(:email) %><%= errors_for @user, :email %></td>
      </tr>
      <tr>
        <th><%= f.label(:admin_user) %></th>
        <td><%= f.check_box(:admin_user) %><%= errors_for @user, :admin_user %></td>
      </tr>
      <tr>
        <th><%= f.label(:password) %></th>
        <td><%= f.password_field(:password) %><%= errors_for @user, :password %></td>
      </tr>
      <tr>
        <th><%= f.label(:password_confirmation) %></th>
        <td><%= f.password_field(:password_confirmation) %><%= errors_for @user, :password_confirmation %></td>
      </tr>
    </table>

    <%= submit_tag('Create User') %>
<% end %>
</div>