<!DOCTYPE html>
<html>
<head>
  <title><%= params[:controller] == 'admin' ? "Admin |  #{params[:action]}" : "Public |  #{params[:action]}" %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tag %>
</head>
<body>
<header>
  <h1 style="color:blue;"> <%= params[:controller].capitalize %></h1>
</header>
<div id="main">
  <% if !flash[:notice].blank? %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
  <% end %>

  <%= yield %>
</div>
<div id="footer">
  <p id="copyright">&copy; Mark Wigglesworth</p>
</div>

</body>
</html>